{:deps {dev.rpub/rpub {:local/root "."}}
 :tasks {:requires ([rpub.tasks :as tasks])
         prod (tasks/supervisor)
         prod:css (tasks/prod-admin-css)
         prod:cljs (tasks/prod-cljs)
         dev (run '-dev {:parallel true})
         -dev {:depends [dev:main dev:css dev:cljs]}
         dev:main (tasks/dev)
         dev:css (tasks/dev-admin-css)
         dev:cljs (tasks/dev-cljs)
         test (exec 'rpub.tasks/test)
         flowstorm (exec 'rpub.tasks/flowstorm)
         jar (shell "clojure -T:build jar")
         install {:depends [jar]
                  :task (shell "clojure -T:install")}
         deploy {:depends [jar]
                 :task (shell "clojure -T:deploy")}
         docker:build {:depends [jar]
                       :task (exec 'rpub.tasks/docker-build)}
         docker:push (exec 'rpub.tasks/docker-push)
         docker:release (do (run 'docker:build) (run 'docker:push))}}
