{:paths ["dev"]
 :deps {dev.rpub/rpub {:local/root "."}}
 :tasks {:requires ([rpub.dev.tasks :as tasks])
         prod (tasks/supervisor)
         prod:css (tasks/prod-admin-css)
         prod:cljs (tasks/prod-cljs)
         dev (run '-dev {:parallel true})
         -dev {:depends [dev:main dev:css dev:cljs]}
         dev:main (tasks/dev)
         dev:css (tasks/dev-admin-css)
         dev:cljs (tasks/dev-cljs)
         copy-js (tasks/copy-js)
         test (exec 'rpub.dev.tasks/test)
         flowstorm (exec 'rpub.dev.tasks/flowstorm)
         jar (shell "clojure -T:build jar")
         install {:depends [jar]
                  :task (exec 'rpub.dev.tasks/install)}
         deploy {:depends [jar]
                 :task (exec 'rpub.dev.tasks/deploy)}
         -docker:dockerfile-template "Dockerfile.template"
         docker:dockerfile {:depends [-docker:dockerfile-template]
                            :task (exec 'rpub.dev.tasks/docker-dockerfile)}
         -docker:compose-config-template "docker-compose.template.yaml"
         docker:compose-config {:depends [-docker:compose-config-template]
                                :task (exec 'rpub.dev.tasks/docker-compose-config)}
         docker:build {:depends [jar
                                 docker:dockerfile
                                 docker:compose-config]
                       :task (exec 'rpub.dev.tasks/docker-build)}
         docker:push (exec 'rpub.dev.tasks/docker-push)
         docker:release (do (run 'docker:build) (run 'docker:push))}}
