{:saved-nodes [{:id ":rpub.admin.new-user-page/change-input", :position {:x -474, :y 633.75}} {:id ":rpub.admin.new-user-page/field-values", :position {:x 22, :y 656}} {:id ":rpub.admin.new-user-page/submit-error", :position {:x -458, :y 818}} {:id ":rpub.admin.new-user-page/submit-start", :position {:x -466, :y 952}} {:id ":rpub.admin.new-user-page/submitting", :position {:x 16, :y 860}}]}